.subtitle {
  color: #fff;
}
.c-breed-gallery {
  padding: 40px 0;
  background-color: #546e7a;
}
.c-dog-gallery {
  padding: 40px 0;
}
.nav {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 40px 0;
}
