.App {
  text-align: center;
  background-color: #e9ecef;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
h1 {
  color: #546e7a;
}
.btn-new {
  background-color: #546e7a;
  color: #fff;
  padding: 5px 10px;
  border: 3px solid #546e7a;
  border-radius: 5px;
}
.btn-new:hover {
  color: #546e7a;
  background-color: #fff;
  border: 3px solid #546e7a;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
